// bootstrap overrides
$yellow: #F9B300 !default;
$black: #000 !default;
$white: #fff !default;
$blue: #013265 !default;
//$primary: $blue !default;
$primary: $yellow !default;
$espn-device-black: #010000;
$espn-footer-txt-grey: #787878;
$espn-footer-txt-white: #fff;
$espn-footer-bg-blue: #013265;
$espn-toc-bg-grey: #252525;
$espn-toc-txt-grey: #c5c9d1;
$espn-accordion-bg-grey: #191919;
$espn-accordion-bg-blue:  #1b3a63;
$espn-accordion-txt-white: #fff;
$espn-accordion-txt-grey: #636363;