@font-face {
    font-family: 'PlayoffProCond-Medium';
    src: url('fonts/PlayoffProCond-Medium.woff');
    src: url('fonts/PlayoffProCond-Medium.woff2');
}

@font-face {
    font-family: 'PlayoffProCond-MediumItalic';
    src: url('fonts/PlayoffProCond-MediumItalic.woff');
    src: url('fonts/PlayoffProCond-MediumItalic.woff2');
}