#masthead {
    width: 100%;
    z-index: 16777270;
    display: inline-block;
    text-align: center;
}

#masthead-stick {
    width: 100%;
    z-index: 16777271;
    text-align: center;
}

&.sticky {
    position: fixed;
    top: 0;
}

.site-branding {
    display: inline-block;
    // outline: 1px solid #ccc;
    // float: left;
    // flex: 1 100%;
    width:106px;
    @media (max-width: 580px) {
        display:none;
        flex:none;
    }
}

.headerbox {
    display: block;
    background: white;
    margin: 0 auto;
    width: 100%;
    max-width: 1280px;
    height: 77px;
    text-align:center;
}

.site-header {
    height: 77px;
    text-align: left;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    justify-content: space-between;
    width:90%;
    margin:0 auto;

    .site-branding img {
        max-height: 20px;
        width: 104px;
        margin-top: 28px;
       // margin-left: 60px;
       margin-left:0;
    }
}
.site-header.center {
   // height: 77px;
    text-align: center;
    .site-branding {
        text-align: center;
        margin:0 auto;
        img {
            margin:28px auto;
            width: 104px;
          //  margin-top: 28px;
        }
        a {
            margin:0 auto;
        }
        @media (max-width: 580px) {
            display:flex;
            flex: 1 100%;
        }
    }
}

.main-navigation {
    display: inline-block;
    height: 77px;
    margin-top:16px;
    height:58px;
   // flex: 1 100%;
  // width:80%;
    ul.menu {
        padding:0px;
        margin:0;
    }
    @media (max-width: 580px) {
        width:100%;
    }
}
.menu {
    margin-top: 14px;
    list-style: none;
    margin-bottom: 0;
   // margin-right: 60px;
    margin-right:0;
    display: flex;
    flex-direction: row;
    // border:1px solid #ccc;
    justify-content: flex-end;
    .menu-item {
        height: 48px;
        font-family: PlayoffProCond-MediumItalic, arial;
        font-size:1.0rem;
        // border:1px solid #ccc;
    }
    .menu-item a:link,
    .menu-item a:visited, {
        margin-top: 10px;
        display: inline-block;
        color: black;
    }
    .menu-item a:active,
    .menu-item a:hover, {
       // color: white;
        text-decoration: underline;
    }
    .menu-item:nth-child(2) {
        // width:42px;
        margin-left:24px;
        margin-right:0;
        @media (max-width: 580px) {
          //  margin-right:24px;
            margin-left:0;
        }
    }
    @media (max-width: 580px) {
        flex-direction: row-reverse;
        margin-right: 20px;
        margin-left: 20px;
        justify-content: space-between;
        .menu-item {
            align-self: stretch;
           // flex:1 100%;
            margin:0;
        }
        .menu-item:nth-child(2) {
            margin-left:0;
        }
    }

    @media (max-width: 480px) {
       // flex-direction: row-reverse;
        margin-right: 10px;
        margin-left: 10px;
    }
    // #menu-item-320.menu-item a:link,
    // #menu-item-320.menu-item a:visited,
    // #menu-item-320.menu-item a:active,
    // #menu-item-320.menu-item a:hover {
    //     margin-top: 0;
    //     display: none;
    // }

}

.site-title {
    display: none;
}

//Wrapper for CTA with corner knockout

.menu-main-menu-container .espn-cta-container {
    a {
        display:none;
    }
    @media (max-width: 767px) {
        margin: 0;
    }
    // text-align: center;
    .parallelogram {
        margin: 0 -10px 0 -25px;
        color:black;
        a:nth-child(2) {
            display:block;
            color:black;
        }
        &:hover,
        &:active {
            background-color: black;
            color: white;
        } // active & hover
    } // .parallelogram

    a:link,
    a:visited,
    a:active,
    a:hover {
        margin-top: 0;
    }
 //.btn-primary 
    .btn.btn-primary:active,
    .btn.btn-primary:hover {
        text-decoration: none;
        color: white;
    } 
} // .espn-cta-container
.d-none {
    display: none!important;
}