
// bootstrap overrides

$yellow:                    #F9B300 !default;
$primary:                   $yellow !default;

$espn-device-black:          #010000;
$espn-fotter-txt-grey:       #787878;
$espn-toc-bg-grey:           #252525;
$espn-toc-txt-grey:          #c5c9d1;
$espn-accordion-bg-grey:     #191919;
$espn-accordion-txt-grey:    #636363;

// global elements
body {
    max-width: 100%;
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    background-color: black;
    font-weight: 16px;
    line-height: 1.500rem; 
}
//Wrapper for CTA with corner knockout
.espn-cta-container {
    position: relative;
    display: inline-block;
    overflow: hidden;    
    margin: 3.000rem auto 1.750rem auto; 
    padding: 0 0 0 0;
    text-align: center;

    .parallelogram {
        position: relative;
        display: inline-block;
        overflow: hidden;    
        width: 286px;
        height: 48px;
        margin: 0 -10px 0 -25px;
        padding: 0 0 0 0;
        background-color: $primary;
        -webkit-transform: skew(-45deg);
            -ms-transform: skew(-45deg);
                transform: skew(-45deg);
        
        &:hover,
        &:active {
            background-color: white;
            color: black;
        } // active & hover

    } // .parallelogram

    .btn.btn-primary {
        position: absolute;
        display: inline-block;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        margin: 0 10px 0 10px;
        padding: 0 0 0 0;
        background-color: transparent;
        border: none;
        -webkit-border-radius: 0px;
        -moz-border-radius: 0px;
        -o-border-radius: 0px;
        border-radius: 0px;
        border: 0px;
        font-size: 1.125rem;
        font-weight: 400;
        font-style: normal;
        text-transform: uppercase;
        line-height: 48px;
        color: black;
        -webkit-transform: skew(45deg);
            -ms-transform: skew(45deg);
                transform: skew(45deg);
    
    } //.btn-primary 

} // .espn-cta-container

@media (max-width: 767px) {
  .espn-cta-container {
    margin: 1.5rem auto .750rem auto;
  } // .espn-cta-container
} // max-width: 767px