@import "font-awesome";
// bootstrap overrides
$yellow: #F9B300 !default;
$primary: $yellow !default;
$espn-device-black: #010000;
$espn-fotter-txt-grey: #787878;
$espn-toc-bg-grey: #252525;
$espn-toc-txt-grey: #c5c9d1;
$espn-accordion-bg-grey: #191919;
$espn-accordion-txt-grey: #636363;

@import "global_devices";

@import "global_toc";

@import "global_footer_link";

@import "global_league_accordion";