!.gitkeep

wordpress/wordpress.env
db/db_data/
wordpress/wp_content/
wordpress/wp-content/cache/autoptimize/*
elasticsearch/data/
*/advance-cahce.php
logs/nginx/access.log
logs/nginx/error.log
wordpress/wp-content/uploads/
wordpress/uploads/
wordpress/wp-content/cache/
wordpress/wp-content/themes/twentyfifteen/
wordpress/wp-content/themes/twentysixteen/
wordpress/wp-content/themes/twentyseventeen/
host.env
.DS_Store
._.DS_Store
# src/_fonts/*
# src/_images/*
src/_unmin/*
src/_vendor/*
# src/_video/*
src/node_modules/*

